#menu{
    width: 100%;
    font-size: medium;
    float: left;
    background-color: lightgray;
}

#menu ul{
    list-style-type: none;
    margin: 0;
}

#menu li{
    float: left;
    padding: 5px;
    width: 150px;
}

#menu a{
    text-decoration: none;
    color:black;
}

#menu a:hover{
    background-color: darkgray;
}

#menu li ul {
    display: none;
}

#menu li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: lightgray;
    width: 160px;
}


header{
    font-size: large;
}

blockquote{
    display: block;
    background-color: #357dbd81;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    width: fit-content;
}

/*NEW*/
.navbar-brand {
    width: 100px;
    height: 40px;
    background: url("../img/pretty-2-th.jpg") center no-repeat;     
}

.current {
    background-color: lightgrey;   
}

#header-sezione{
    margin-top: 2em;
    border-bottom: 2px solid #357ebd;
    margin-bottom: 2em;
}

table{
    padding-top: 2em;
    width: 100%;
}